<!doctype html>
<header class="header-nav">
  <nav>
    <a href="/"><h1>Blog</h1></a>
    
    <!-- <ul class="header-navList"> -->
    <!--   <li> -->
    <!--     <a href="/">Home</a> -->
    <!--   </li> -->
    <!--   <li> -->
    <!--     <a href="/works">Works</a> -->
    <!--   </li> -->
    <!--   <li> -->
    <!--     <a href="/blog">Blog</a> -->
    <!--   </li> -->
    <!-- </ul> -->
    <!-- <div class="nav-menu"> -->
    <!--   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255);transform: ;msFilter:;"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg> -->
    <!-- </div> -->
  </nav>
</header>
